<!-- <div class="container" style="background-color: bisque; padding: 30px; margin: 10px;">
  <h1>Use Input Output Decarator</h1>
  <app-add-count (Event)="addCount($event)"></app-add-count>
  <hr>
  <app-count [number]="number"></app-count>
</div>

<div class="container" style="background-color: rgb(247, 204, 152);padding: 30px; margin: 10px;">
  <h1>Use Services Decarator</h1>
  <app-add-count-service></app-add-count-service>
  <hr>
  <app-count-service></app-count-service>
</div>


<div class="container" style="background-color: rgb(93, 88, 81);padding: 30px; margin: 10px;">
  <h1>Use Ngrx </h1>
  <app-add-count-state></app-add-count-state>
  <hr>
  <app-count-state></app-count-state>
</div> -->

<router-outlet></router-outlet>
